doctype html
html
  head
    title Flapper News
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js')

    script(src='/javascripts/angularApp.js')

    style .glyphicon-thumbs-up { cursor:pointer }

  body(ng-app='flapperNews')
    .row
      .col-md-6.col-md-offset-3
        ui-view

    script(type='text/ng-template', id='/home.html')
      .page-header
        h1 Flapper News

      div(ng-repeat='post in posts | orderBy:"-upvotes"')
        span.glyphicon.glyphicon-thumbs-up(ng-click='incrementUpvotes(post)')
        span {{post.upvotes}}
        span(style='font-size:20px; margin-left:10px;')
          a(ng-show='post.link', href='{{post.link}}') {{post.title}}

          span(ng-hide='post.link') {{post.title}}

          span
            a(href='#/posts/{{$index}}') Comments

      form(ng-submit='addPost()', style='margin-top:30px;')
        h3 Add a new post

        .form-group
          input.form-control(type='text', placeholder='Title', ng-model='title')

        .form-group
          input.form-control(type='text', placeholder='Link', ng-model='link')

        button.btn.btn-primary(type='submit') Post

    script(type='text/ng-template', id='/posts.html')
      .page-header
        h3
          a(ng-show='post.link', href='{{post.link}}') {{post.title}}

          span(ng-hide='post.link') {{post.title}}

      div(ng-repeat='comment in post.comments | orderBy:"-upvotes"')
        span.glyphicon.glyphicon-thumbs-up(ng-click='incrementUpvotes(comment)') {{comment.upvotes}} - by {{comment.author}}
        span(style='font-size:20px; margin-left:10px;') {{comment.body}}
      
      form(ng-submit='addComment()', style='margin-top:30px;')
        h3 Add a new comment

        .form-group
          input.form-control(type='text', placeholder='Comment', ng-model='body')

        button.btn.btn-primary(type='submit') Post
